<app-context-component>
  <ng-template let-isShowing="isShowing" let-context="context">
    <app-heading>Showing context component possibilities...</app-heading>
    <app-typography tag="p"
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quam nihil
      eveniet, distinctio debitis tempore ducimus necessitatibus, iure deleniti
      maiores perspiciatis possimus voluptates? Vel fugiat nisi iure repellendus
      impedit libero.</app-typography
    >
    <app-button (click)="context.show()">Open modal</app-button>

    <app-overlay *ngIf="isShowing">
      <app-card>
        <app-icon></app-icon>
        <app-heading>Modal title..</app-heading>
        <app-typography tag="p"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quam
          nihil eveniet, distinctio debitis tempore ducimus necessitatibus, iure
          deleniti maiores perspiciatis possimus voluptates? Vel fugiat nisi
          iure repellendus impedit libero.</app-typography
        >
        <app-button (click)="context.close()"> Close modal</app-button>
      </app-card>
    </app-overlay>
  </ng-template>
</app-context-component>

<router-outlet></router-outlet>
